<div data-hook="admin_option_type_form_fields" class="align-center row">
  <!--POGEN,__pogen_109,f_dot_text_field__name___class_____fullwidth__,<%= f.text_field :name, :class => "fullwidth" %>--><!--POGEN,__pogen_109,f_dot_error_message_on__name_,<%= f.error_message_on :name %>--><!--POGEN,__pogen_109,f_dot_label__name__Spree_dot_t__name__,<%= f.label :name, Spree.t(:name) %>--><!--POGEN,__pogen_109,f_dot_field_container__name_do_,<%= f.field_container :name do %>--><div class="alpha eight columns" id="__pogen_109">
    <%= f.field_container :name do %>
      <%= f.label :name, Spree.t(:name) %> <span class="required">*</span><br />
      <%= f.text_field :name, :class => "fullwidth" %>
      <%= f.error_message_on :name %>
    <% end %>
  </div>

  <!--POGEN,__pogen_110,f_dot_error_message_on__presentation_,<%= f.error_message_on :presentation %>--><!--POGEN,__pogen_110,f_dot_label__presentation__Spree_dot_t__presentation__,<%= f.label :presentation, Spree.t(:presentation) %>--><!--POGEN,__pogen_110,f_dot_field_container__presentation_do_,<%= f.field_container :presentation do %>--><!--POGEN,__pogen_110,f_dot_text_field__presentation___class_____fullwidth__,<%= f.text_field :presentation, :class => "fullwidth" %>--><div class="omega eight columns" id="__pogen_110">
    <%= f.field_container :presentation do %>
      <%= f.label :presentation, Spree.t(:presentation) %> <span class="required">*</span><br />
      <%= f.text_field :presentation, :class => "fullwidth" %>
      <%= f.error_message_on :presentation %>
    <% end %>
  </div>
</div>