<%= form_tag transfer_stock_admin_stock_locations_path do %>
  <fieldset>
    <!--POGEN,__pogen_615,Spree_dot_t__move_stock_between_locations_,<%= Spree.t(:move_stock_between_locations)%>--><legend align="center" id="__pogen_615"><%= Spree.t(:move_stock_between_locations)%></legend>
    <div data-hook="admin_stock_movements_form_fields" class="row">
      <div class="five columns">
        <!--POGEN,stock_movement_transfer_from_field,label_tag__stock_location_from_id__Spree_dot_t__transfer_from_location__,<%= label_tag :stock_location_from_id, Spree.t(:transfer_from_location) %>--><!--POGEN,stock_movement_transfer_from_field,select_tag__stock_location_from_id__options_from_collection_for_select__stock_locations___id___name___class___select2_fullwidth__,<%= select_tag :stock_location_from_id, options_from_collection_for_select(@stock_locations, :id, :name), class: 'select2 fullwidth' %>--><div class="field" id="stock_movement_transfer_from_field">
          <%= label_tag :stock_location_from_id, Spree.t(:transfer_from_location) %>
          <%= select_tag :stock_location_from_id, options_from_collection_for_select(@stock_locations, :id, :name), class: 'select2 fullwidth' %>
        </div>
      </div>
      <div class="five columns">
        <!--POGEN,stock_movement_transfer_to_field,label_tag__stock_location_to_id__Spree_dot_t__transfer_to_location__,<%= label_tag :stock_location_to_id, Spree.t(:transfer_to_location) %>--><!--POGEN,stock_movement_transfer_to_field,select_tag__stock_location_to_id__options_from_collection_for_select__stock_locations___id___name___class___select2_fullwidth__,<%= select_tag :stock_location_to_id, options_from_collection_for_select(@stock_locations, :id, :name), class: 'select2 fullwidth' %>--><div class="field" id="stock_movement_transfer_to_field">
          <%= label_tag :stock_location_to_id, Spree.t(:transfer_to_location) %>
          <%= select_tag :stock_location_to_id, options_from_collection_for_select(@stock_locations, :id, :name), class: 'select2 fullwidth' %>
        </div>
      </div>

      <div class="five columns">
        <!--POGEN,stock_movement_variant_id_field,select_tag__variant_id__options_from_collection_for_select__variants___id___name_and_sku___class___select2_fullwidth__,<%= select_tag :variant_id, options_from_collection_for_select(@variants, :id, :name_and_sku), class: 'select2 fullwidth' %>--><!--POGEN,stock_movement_variant_id_field,label_tag__variant_id___Spree_dot_t__variant__,<%= label_tag 'variant_id', Spree.t(:variant) %>--><div class="field" id="stock_movement_variant_id_field">
          <%= label_tag 'variant_id', Spree.t(:variant) %>
          <%= select_tag :variant_id, options_from_collection_for_select(@variants, :id, :name_and_sku), class: 'select2 fullwidth' %>
        </div>
      </div>

      <div class="five columns">
        <!--POGEN,stock_movement_quantity_field,label_tag__quantity___Spree_dot_t__quantity__,<%= label_tag 'quantity', Spree.t(:quantity) %>--><!--POGEN,stock_movement_quantity_field,number_field_tag__quantity__1__class___fullwidth__,<%= number_field_tag :quantity, 1, class: 'fullwidth' %>--><div class="field" id="stock_movement_quantity_field">
          <%= label_tag 'quantity', Spree.t(:quantity) %>
          <%= number_field_tag :quantity, 1, class: 'fullwidth' %>
        </div>
      </div>
    </div>

    <!--POGEN,__pogen_616,button_Spree_dot_t__transfer_stock____icon_minus_plus__,<%= button Spree.t(:transfer_stock), 'icon-plus' %>--><!--POGEN,__pogen_616,link_to_with_icon__icon_minus_remove___Spree_dot_t__actions_dot_cancel____collection_url___class_____button__,<%= link_to_with_icon 'icon-remove', Spree.t('actions.cancel'), collection_url, :class => 'button' %>--><div class="form-buttons filter-actions actions" data-hook="buttons" id="__pogen_616">
      <%= button Spree.t(:transfer_stock), 'icon-plus' %>
      <!--POGEN,__pogen_617,Spree_dot_t__or__,<%= Spree.t(:or) %>--><span class="or" id="__pogen_617"><%= Spree.t(:or) %></span>
      <%= link_to_with_icon 'icon-remove', Spree.t('actions.cancel'), collection_url, :class => 'button' %>
    </div>
  </fieldset>
<% end %>
