<% content_for :page_title do %>
  <%= Spree.t(:editing_stock_location) %> <i class="icon-arrow-right"></i>
  <%= @stock_location.name %>
<% end %>

<% content_for :page_actions do %>
  <!--POGEN,__pogen_618,link_to_with_icon__icon_minus_arrow_minus_left___Spree_dot_t__back_to_stock_locations_list___admin_stock_locations_path___class_____button__,<%= link_to_with_icon 'icon-arrow-left', Spree.t(:back_to_stock_locations_list), admin_stock_locations_path, :class => 'button' %>--><li id="__pogen_618"><%= link_to_with_icon 'icon-arrow-left', Spree.t(:back_to_stock_locations_list), admin_stock_locations_path, :class => 'button' %></li>
<% end %>

<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @stock_location } %>

<%= form_for [:admin, @stock_location] do |f| %>
  <!--POGEN,__pogen_619,render__partial_____form____locals_______f____f___,<%= render :partial => 'form', :locals => { :f => f } %>--><!--POGEN,__pogen_619,render__partial_____spree_divide_admin_divide_shared_divide_edit_resource_links__,<%= render :partial => 'spree/admin/shared/edit_resource_links' %>--><fieldset class="no-border-top" id="__pogen_619">
    <%= render :partial => 'form', :locals => { :f => f } %>
    <%= render :partial => 'spree/admin/shared/edit_resource_links' %>
  </fieldset>
<% end %>
