<%= render :partial => 'spree/admin/shared/order_tabs', locals: { current: 'Payments' }%>

<% content_for :page_title do %>
  <i class="icon-arrow-right"></i>
  <%= I18n.t(:one, scope: "activerecord.models.spree/payment") %>
  <i class="icon-arrow-right"></i>
  <%= Spree.t(:log_entries) %>
<% end %>

<% content_for :page_actions do %>
  <!--POGEN,__pogen_86,button_link_to_Spree_dot_t__logs___spree_dot_admin_order_payment_log_entries_url__order___payment____icon_____icon_minus_archive__,<%= button_link_to Spree.t(:logs), spree.admin_order_payment_log_entries_url(@order, @payment), :icon => 'icon-archive' %>--><li id="__pogen_86"><%= button_link_to Spree.t(:logs), spree.admin_order_payment_log_entries_url(@order, @payment), :icon => 'icon-archive' %></li>
  <!--POGEN,__pogen_87,button_link_to_Spree_dot_t__back_to_payment___spree_dot_admin_order_payment_url__order___payment____icon_____icon_minus_arrow_minus_left__,<%= button_link_to Spree.t(:back_to_payment), spree.admin_order_payment_url(@order, @payment), :icon => 'icon-arrow-left' %>--><li id="__pogen_87"><%= button_link_to Spree.t(:back_to_payment), spree.admin_order_payment_url(@order, @payment), :icon => 'icon-arrow-left' %></li>
<% end %>

<table class='index' id='listing_log_entries'>
  <% @log_entries.each do |entry| %>
      <thead>
        <!--POGEN,__pogen_88,entry_dot_parsed_details_dot_success_____success_____fail__,<%= entry.parsed_details.success? ? 'success' : 'fail' %>--><tr class="log_entry <%= entry.parsed_details.success? ? 'success' : 'fail' %>" id="__pogen_88">
          <td colspan='2'>
            <!--POGEN,__pogen_89,pretty_time_entry_dot_created_at__,<%= pretty_time(entry.created_at) %>--><h4 id="__pogen_89"><i class='icon icon-<%= entry.parsed_details.success? ? 'ok-circle' : 'remove-sign' %>'></i> <%= pretty_time(entry.created_at) %></h4>
          </td>
        </tr>
      </thead>
      <!--POGEN,__pogen_90,render__spree_divide_admin_divide_log_entries_divide____payment_dot_payment_method_dot_name_dot_gsub__________dot_underscore____entry__entry_,<%= render "spree/admin/log_entries/#{@payment.payment_method.name.gsub(' ', '').underscore}", entry: entry %>--><tbody id="__pogen_90">
        <%= render "spree/admin/log_entries/#{@payment.payment_method.name.gsub(' ', '').underscore}", entry: entry %>
      </tbody>
  <% end %>
</table>