<!--POGEN,__pogen_407,text_field_tag____param_prefix__preferred_path____promotion_rule_dot_preferred_path___class_____fullwidth__,<%= text_field_tag "#{param_prefix}[preferred_path]", promotion_rule.preferred_path, :class => 'fullwidth' %>--><div class="field alpha omega eight columns" id="__pogen_407">
  <!--POGEN,__pogen_408,Spree_dot_t__promotion_rule_types_dot_landing_page_dot_description___,<%= Spree.t('promotion_rule_types.landing_page.description') %>--><label for="<%= "#{param_prefix}_preferred_path" % id="__pogen_408">"><%= Spree.t('promotion_rule_types.landing_page.description') %>:</label>  
  <%= text_field_tag "#{param_prefix}[preferred_path]", promotion_rule.preferred_path, :class => 'fullwidth' %>  
  <!--POGEN,__pogen_409,Spree_dot_t__landing_page_rule_dot_must_have_visited_path___,<%= Spree.t('landing_page_rule.must_have_visited_path') %>--><span class="info" id="__pogen_409"><%= Spree.t('landing_page_rule.must_have_visited_path') %></span>
</div>