<div class="field alpha omega eight columns">
  <!--POGEN,__pogen_412,Spree_dot_t__user_rule_dot_choose_users___,<%= Spree.t('user_rule.choose_users') %>--><label id="__pogen_412"><%= Spree.t('user_rule.choose_users') %></label><br>
  <!--POGEN,__pogen_413,promotion_rule_dot_user_ids_dot_join______,<%= promotion_rule.user_ids.join(",") %>--><!--POGEN,__pogen_413,param_prefix_,<%= param_prefix %>--><input type='hidden' name='<%= param_prefix %>[user_ids_string]' class='user_picker fullwidth' value='<%= promotion_rule.user_ids.join(",") %>' id="__pogen_413">
</div>
