<%= render :partial => 'spree/admin/shared/product_sub_menu' %>

<% content_for :page_title do %>
  <%= Spree.t(:editing_prototype) %>
<% end %>

<% content_for :page_actions do %>
  <!--POGEN,__pogen_432,button_link_to_Spree_dot_t__back_to_prototypes_list___spree_dot_admin_prototypes_path___icon_____icon_minus_arrow_minus_left__,<%= button_link_to Spree.t(:back_to_prototypes_list), spree.admin_prototypes_path, :icon => 'icon-arrow-left' %>--><li id="__pogen_432">
    <%= button_link_to Spree.t(:back_to_prototypes_list), spree.admin_prototypes_path, :icon => 'icon-arrow-left' %>
  </li>
<% end %>

<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @prototype } %>

<%= form_for [:admin, @prototype] do |f| %>
  <!--POGEN,__pogen_433,render__partial_____form____locals_______f____f___,<%= render :partial => 'form', :locals => { :f => f } %>--><!--POGEN,__pogen_433,render__partial_____spree_divide_admin_divide_shared_divide_edit_resource_links__,<%= render :partial => 'spree/admin/shared/edit_resource_links' %>--><fieldset class="no-border-top" id="__pogen_433">
    <%= render :partial => 'form', :locals => { :f => f } %>
    <%= render :partial => 'spree/admin/shared/edit_resource_links' %>
  </fieldset>
<% end %>
