<% content_for :page_title do %>
  <%= Spree.t(:prototypes) %>
<% end %>

<% content_for :page_actions do %>
  <!--POGEN,new_prototype_link,button_link_to_Spree_dot_t__new_prototype___new_admin_prototype_url____remote____true___icon_____icon_minus_plus____data_minus_update______new_prototype____id_____new_prototype_link___,<%= button_link_to Spree.t(:new_prototype), new_admin_prototype_url, {:remote => true, :icon => 'icon-plus', 'data-update' => 'new_prototype', :id => 'new_prototype_link'} %>--><li id="new_prototype_link">
    <%= button_link_to Spree.t(:new_prototype), new_admin_prototype_url, {:remote => true, :icon => 'icon-plus', 'data-update' => 'new_prototype', :id => 'new_prototype_link'} %>
  </li>
<% end %>

<%= render 'spree/admin/shared/product_sub_menu' %>

<%= image_tag 'select2-spinner.gif', :plugin => 'spree', :style => 'display: none', :id => 'busy_indicator' %>

<%# Placeholder for new prototype form %>
<div id="new_prototype"></div>

<% if @prototypes.any? %>
<table class="index" id='listing_prototypes' data-hook>
  <colgroup>
    <col style="width: 90%">
    <col style="width: 10%">
  </colgroup>
  <thead>
    <tr data-hook="prototypes_header">
      <!--POGEN,__pogen_434,Spree_dot_t__name__,<%= Spree.t(:name) %>--><th id="__pogen_434"><%= Spree.t(:name) %></th>
      <th class="actions"></th>
    </tr>
  </thead>
  <tbody>
    <% @prototypes.each do |prototype| %>
      <!--POGEN,<%= spree_dom_id prototype %>,cycle__odd____even__,<%= cycle('odd', 'even')%>--><!--POGEN,<%= spree_dom_id prototype %>,spree_dom_id_prototype_,<%= spree_dom_id prototype %>--><tr id="<%= spree_dom_id prototype %>" data-hook="prototypes_row" class="<%= cycle('odd', 'even')%>">
        <!--POGEN,__pogen_435,prototype_dot_name_,<%= prototype.name %>--><td style="padding-left:1em" id="__pogen_435"><%= prototype.name %></td>
        <!--POGEN,__pogen_436,link_to_edit_prototype___no_text____true___class_____admin_edit_prototype___,<%= link_to_edit(prototype, :no_text => true, :class => 'admin_edit_prototype') %>--><!--POGEN,__pogen_436,link_to_delete_prototype___no_text____true__,<%= link_to_delete(prototype, :no_text => true) %>--><td class="actions" id="__pogen_436">
          <%= link_to_edit(prototype, :no_text => true, :class => 'admin_edit_prototype') %>
          <%= link_to_delete(prototype, :no_text => true) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
  <!--POGEN,__pogen_437,link_to_Spree_dot_t__add_one___spree_dot_new_admin_prototype_path_,<%= link_to Spree.t(:add_one), spree.new_admin_prototype_path %>--><!--POGEN,__pogen_437,Spree_dot_t__no_resource_found__resource__I18n_dot_t__other__scope___activerecord_dot_models_dot_spree_divide_prototype____,<%= Spree.t(:no_resource_found, resource: I18n.t(:other, scope: 'activerecord.models.spree/prototype')) %>--><div class="alpha twelve columns no-objects-found" id="__pogen_437">
    <%= Spree.t(:no_resource_found, resource: I18n.t(:other, scope: 'activerecord.models.spree/prototype')) %>,
    <%= link_to Spree.t(:add_one), spree.new_admin_prototype_path %>!
  </div>
<% end %>
