<%= render :partial => 'spree/admin/shared/order_tabs', :locals => { :current => 'Payments' } %>

<% content_for :page_title do %>
  <i class="icon-arrow-right"></i> <%= Spree.t(:new_payment) %>
<% end %>

<% content_for :page_actions do %>
  <!--POGEN,__pogen_284,button_link_to_Spree_dot_t__back_to_payments_list___spree_dot_admin_order_payments_url__order____icon_____icon_minus_arrow_minus_left__,<%= button_link_to Spree.t(:back_to_payments_list), spree.admin_order_payments_url(@order), :icon => 'icon-arrow-left' %>--><li id="__pogen_284"><%= button_link_to Spree.t(:back_to_payments_list), spree.admin_order_payments_url(@order), :icon => 'icon-arrow-left' %></li>
<% end %>

<% if @payment_methods.any? %>
  <%= render :partial => 'spree/shared/error_messages', :locals => { :target => @payment } %>

  <%= form_for @payment, :url => admin_order_payments_path(@order) do |f| %>
    <!--POGEN,__pogen_285,render__partial_____form____locals_______f____f___,<%= render :partial => 'form', :locals => { :f => f } %>--><fieldset class="no-border-top" id="__pogen_285">
      <%= render :partial => 'form', :locals => { :f => f } %>

      <!--POGEN,__pogen_286,button__order_dot_cart____Spree_dot_t__actions_dot_continue_____Spree_dot_t__actions_dot_update_____order_dot_cart_____icon_minus_arrow_minus_right_____icon_minus_refresh__,<%= button @order.cart? ? Spree.t('actions.continue') : Spree.t('actions.update'), @order.cart? ? 'icon-arrow-right' : 'icon-refresh' %>--><div class="filter-actions actions" data-hook="buttons" id="__pogen_286">
        <%= button @order.cart? ? Spree.t('actions.continue') : Spree.t('actions.update'), @order.cart? ? 'icon-arrow-right' : 'icon-refresh' %>
      </div>
    </fieldset>
  <% end %>
<% else %>
  <%= Spree.t(:cannot_create_payment_without_payment_methods) %>
  <%= link_to Spree.t(:please_define_payment_methods), admin_payment_methods_url %>
<% end %>
