<% content_for :page_title do %>
  <%= Spree.t(:editing_promotion) %>
<% end %>

<% content_for :page_actions do %>
  <!--POGEN,__pogen_386,button_link_to_Spree_dot_t__back_to_promotions_list___admin_promotions_path___icon_____icon_minus_arrow_minus_left__,<%= button_link_to Spree.t(:back_to_promotions_list), admin_promotions_path, :icon => 'icon-arrow-left' %>--><li id="__pogen_386">
    <%= button_link_to Spree.t(:back_to_promotions_list), admin_promotions_path, :icon => 'icon-arrow-left' %>
  </li>
<% end %>

<%= form_for @promotion, :url => object_url, :method => :put do |f| %>
  <!--POGEN,__pogen_387,render__partial_____form____locals_______f____f___,<%= render :partial => 'form', :locals => { :f => f } %>--><!--POGEN,__pogen_387,render__partial_____spree_divide_admin_divide_shared_divide_edit_resource_links__,<%= render :partial => 'spree/admin/shared/edit_resource_links' %>--><fieldset class="no-border-top" id="__pogen_387">
    <%= render :partial => 'form', :locals => { :f => f } %>
    <%= render :partial => 'spree/admin/shared/edit_resource_links' %>
  </fieldset>
<% end %>

<div id="promotion-filters" class="row">
  <!--POGEN,rules_container,render__partial_____rules__,<%= render :partial => 'rules' %>--><div id="rules_container" class="alpha eight columns">
    <%= render :partial => 'rules' %>
  </div>

  <!--POGEN,actions_container,render__partial_____actions__,<%= render :partial => 'actions' %>--><div id="actions_container" class="omega eight columns">
    <%= render :partial => 'actions' %>
  </div>
</div>

<%= render :partial => "spree/admin/variants/autocomplete", :formats => [:js] %>
