<% content_for :page_title do %>
  <%= Spree.t(:new_promotion) %>
<% end %>

<% content_for :page_actions do %>
  <!--POGEN,__pogen_403,button_link_to_Spree_dot_t__back_to_promotions_list___spree_dot_admin_promotions_path___icon_____icon_minus_arrow_minus_left__,<%= button_link_to Spree.t(:back_to_promotions_list), spree.admin_promotions_path, :icon => 'icon-arrow-left' %>--><li id="__pogen_403">
    <%= button_link_to Spree.t(:back_to_promotions_list), spree.admin_promotions_path, :icon => 'icon-arrow-left' %>
  </li>
<% end %>

<%= form_for :promotion, :url => collection_url do |f| %>
  <!--POGEN,__pogen_404,render__partial_____form____locals_______f____f___,<%= render :partial => 'form', :locals => { :f => f } %>--><!--POGEN,__pogen_404,render__partial_____spree_divide_admin_divide_shared_divide_new_resource_links__,<%= render :partial => 'spree/admin/shared/new_resource_links' %>--><fieldset class="no-border-top" id="__pogen_404">
    <%= render :partial => 'form', :locals => { :f => f } %>
    <%= render :partial => 'spree/admin/shared/new_resource_links' %>
  </fieldset>
<% end %>
