<div data-hook="admin_country_form_fields" class="row">
  <div class="alpha four columns">
    <!--POGEN,__pogen_26,f_dot_text_field__name___class_____fullwidth__,<%= f.text_field :name, :class => 'fullwidth' %>--><!--POGEN,__pogen_26,f_dot_label__name__Spree_dot_t__name__,<%= f.label :name, Spree.t(:name) %>--><div data-hook="name" class="field" id="__pogen_26">
      <%= f.label :name, Spree.t(:name) %>
      <%= f.text_field :name, :class => 'fullwidth' %>
    </div>
  </div>
  <div class="four columns">
    <!--POGEN,__pogen_27,f_dot_label__iso_name__Spree_dot_t__iso_name__,<%= f.label :iso_name, Spree.t(:iso_name) %>--><!--POGEN,__pogen_27,f_dot_text_field__iso_name___class_____fullwidth__,<%= f.text_field :iso_name, :class => 'fullwidth' %>--><div data-hook="iso_name" class="field" id="__pogen_27">
      <%= f.label :iso_name, Spree.t(:iso_name) %>
      <%= f.text_field :iso_name, :class => 'fullwidth' %>
    </div>
  </div>
  <div class="omega four columns">
    <div data-hook="states_required" class="field checkbox">
      <!--POGEN,__pogen_28,Spree_dot_t__states_required__,<%= Spree.t(:states_required) %>--><!--POGEN,__pogen_28,f_dot_check_box__states_required_,<%= f.check_box :states_required %>--><label id="__pogen_28">
        <%= f.check_box :states_required %>
        <%= Spree.t(:states_required) %>
      </label>
    </div>
  </div>
</div>