<%= render :partial => 'spree/admin/shared/configuration_menu' %>

<% content_for :page_title do %>
  <%= Spree.t(:editing_country) %>
<% end %>

<% content_for :page_actions do %>
  <!--POGEN,__pogen_29,button_link_to_Spree_dot_t__back_to_countries_list___spree_dot_admin_countries_path___icon_____icon_minus_arrow_minus_left__,<%= button_link_to Spree.t(:back_to_countries_list), spree.admin_countries_path, :icon => 'icon-arrow-left' %>--><li id="__pogen_29">
    <%= button_link_to Spree.t(:back_to_countries_list), spree.admin_countries_path, :icon => 'icon-arrow-left' %>
  </li>
<% end %>

<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @country } %>

<%= form_for [:admin, @country] do |f| %>
  <!--POGEN,__pogen_30,render__partial_____form____locals_______f____f___,<%= render :partial => 'form', :locals => { :f => f } %>--><!--POGEN,__pogen_30,render__partial_____spree_divide_admin_divide_shared_divide_edit_resource_links__,<%= render :partial => 'spree/admin/shared/edit_resource_links' %>--><fieldset class="no-border-top" id="__pogen_30">
    <%= render :partial => 'form', :locals => { :f => f } %>
    <div class="clear"></div>
    <%= render :partial => 'spree/admin/shared/edit_resource_links' %>
  </fieldset>
<% end %>
