<% content_for :page_title do %>
  <%= Spree.t(:new_country) %>
<% end %>

<% content_for :page_actions do %>
  <!--POGEN,__pogen_39,link_to_with_icon__icon_minus_arrow_minus_left___Spree_dot_t__back_to_countries_list___admin_countries_path___class_____button__,<%= link_to_with_icon 'icon-arrow-left', Spree.t(:back_to_countries_list), admin_countries_path, :class => 'button' %>--><li id="__pogen_39"><%= link_to_with_icon 'icon-arrow-left', Spree.t(:back_to_countries_list), admin_countries_path, :class => 'button' %></li>
<% end %>

<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @countries } %>

<%= form_for [:admin, @country] do |f| %>
  <!--POGEN,__pogen_40,render__partial_____form____locals_______f____f___,<%= render :partial => 'form', :locals => { :f => f } %>--><!--POGEN,__pogen_40,render__partial_____spree_divide_admin_divide_shared_divide_new_resource_links__,<%= render :partial => 'spree/admin/shared/new_resource_links' %>--><fieldset class="no-border-top" id="__pogen_40">
    <%= render :partial => 'form', :locals => { :f => f } %>
    <%= render :partial => 'spree/admin/shared/new_resource_links' %>
  </fieldset>
<% end %>
