<% promotion_action.promotion_action_line_items.each do |item| %>
  <!--POGEN,__pogen_383,item_dot_variant_dot_product_dot_name_,<%= item.variant.product.name %>--><!--POGEN,__pogen_383,item_dot_quantity_,<%= item.quantity %>--><strong id="__pogen_383"><%= item.quantity %> x <%= item.variant.product.name %></strong>
  <%= item.variant.options_text %>
<% end %>

<% if promotion_action.promotion_action_line_items.empty? %>
  <% line_items = promotion_action.promotion_action_line_items %>
  <% line_items.build %>

  <% line_items.each_with_index do |line_item, index| %>
    <div class="add-line-item row">
        <!--POGEN,__pogen_384,hidden_field_tag____line_item_prefix__variant_id____line_item_dot_variant_id___class_____variant_autocomplete_fullwidth__,<%= hidden_field_tag "#{line_item_prefix}[variant_id]", line_item.variant_id, :class => "variant_autocomplete fullwidth" %>--><div class="field alpha four columns" id="__pogen_384">
          <% line_item_prefix = "#{param_prefix}[promotion_action_line_items_attributes][#{index}]" %>
          <%= hidden_field_tag "#{line_item_prefix}[variant_id]", line_item.variant_id, :class => "variant_autocomplete fullwidth" %>
          <div class='options_placeholder'></div>
        </div>
        <!--POGEN,__pogen_385,number_field_tag____line_item_prefix__quantity____line_item_dot_quantity___min____1___class_____fullwidth__,<%= number_field_tag "#{line_item_prefix}[quantity]", line_item.quantity, :min => 1, :class => 'fullwidth' %>--><div class="field omega four columns" id="__pogen_385">
          <%= number_field_tag "#{line_item_prefix}[quantity]", line_item.quantity, :min => 1, :class => 'fullwidth' %>
        </div>
    </div>
  <% end %>
<% end %>
