<%= render :partial => 'spree/admin/shared/order_tabs', :locals => { :current => 'Return Authorizations' } %>

<% content_for :page_title do %>
  <i class="icon-arrow-right"></i> <%= Spree.t(:new_return_authorization) %>
<% end %>

<% content_for :page_actions do %>
  <!--POGEN,__pogen_484,button_link_to_Spree_dot_t__back_to_return_authorizations_list___spree_dot_admin_order_return_authorizations_url___icon_____icon_minus_arrow_minus_left__,<%= button_link_to Spree.t(:back_to_return_authorizations_list), spree.admin_order_return_authorizations_url, :icon => 'icon-arrow-left' %>--><li id="__pogen_484"><%= button_link_to Spree.t(:back_to_return_authorizations_list), spree.admin_order_return_authorizations_url, :icon => 'icon-arrow-left' %></li>
<% end %>

<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @return_authorization } %>
<%= form_for [:admin, @order, @return_authorization] do |f| %>
  <!--POGEN,__pogen_485,render__partial_____form____locals_______f____f___,<%= render :partial => 'form', :locals => { :f => f } %>--><fieldset class="no-border-top" id="__pogen_485">
    <%= render :partial => 'form', :locals => { :f => f } %>

    <!--POGEN,__pogen_486,button_link_to_Spree_dot_t__actions_dot_cancel____admin_order_return_authorizations_url__order____icon_____icon_minus_remove__,<%= button_link_to Spree.t('actions.cancel'), admin_order_return_authorizations_url(@order), :icon => 'icon-remove' %>--><!--POGEN,__pogen_486,button_Spree_dot_t__continue____icon_minus_arrow_minus_right__,<%= button Spree.t(:continue), 'icon-arrow-right' %>--><div class="form-buttons filter-actions actions" data-hook="buttons" id="__pogen_486">
      <%= button Spree.t(:continue), 'icon-arrow-right' %>
      <!--POGEN,__pogen_487,Spree_dot_t__or__,<%= Spree.t(:or) %>--><span class="or" id="__pogen_487"><%= Spree.t(:or) %></span>
      <%= button_link_to Spree.t('actions.cancel'), admin_order_return_authorizations_url(@order), :icon => 'icon-remove' %>
    </div>
  </fieldset>
<% end %>
