<%= render :partial => 'spree/admin/shared/configuration_menu' %>

<% content_for :page_title do %>
  <%= Spree.t(:new_shipping_method) %>
<% end %>

<% content_for :page_actions do %>
  <!--POGEN,__pogen_584,button_link_to_Spree_dot_t__back_to_shipping_methods_list___spree_dot_admin_shipping_methods_path___icon_____icon_minus_arrow_minus_left__,<%= button_link_to Spree.t(:back_to_shipping_methods_list), spree.admin_shipping_methods_path, :icon => 'icon-arrow-left' %>--><li id="__pogen_584">
    <%= button_link_to Spree.t(:back_to_shipping_methods_list), spree.admin_shipping_methods_path, :icon => 'icon-arrow-left' %>
  </li>
<% end %>

<!--POGEN,__pogen_585,render__partial_____spree_divide_shared_divide_error_messages____locals_______target_____shipping_method___,<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @shipping_method } %>--><div data-hook="admin_shipping_method_new_form_header" id="__pogen_585">
  <%= render :partial => 'spree/shared/error_messages', :locals => { :target => @shipping_method } %>
</div>

<!--POGEN,__pogen_586,form_for___admin___shipping_method__do__f__,<%= form_for [:admin, @shipping_method] do |f| %>--><div data-hook="admin_shipping_method_new_form" id="__pogen_586">
  <%= form_for [:admin, @shipping_method] do |f| %>
    <!--POGEN,__pogen_587,render__partial_____form____locals_______f____f___,<%= render :partial => 'form', :locals => { :f => f } %>--><fieldset class="no-border-top" id="__pogen_587">
      <%= render :partial => 'form', :locals => { :f => f } %>

      <div class="clear"></div>

      <!--POGEN,__pogen_588,render__partial_____spree_divide_admin_divide_shared_divide_new_resource_links__,<%= render :partial => 'spree/admin/shared/new_resource_links' %>--><div data-hook="admin_shipping_method_new_form_buttons" id="__pogen_588">
        <%= render :partial => 'spree/admin/shared/new_resource_links' %>
      </div>
    </fieldset>
  <% end %>
</div>
