<!--POGEN,__pogen_737,error_message_on__taxonomy___name___class_____fullwidth_title__,<%= error_message_on :taxonomy, :name, :class => 'fullwidth title' %>--><!--POGEN,__pogen_737,text_field__taxonomy___name_,<%= text_field :taxonomy, :name %>--><!--POGEN,__pogen_737,f_dot_label__name__Spree_dot_t__name__,<%= f.label :name, Spree.t(:name) %>--><!--POGEN,__pogen_737,f_dot_field_container__name_do_,<%= f.field_container :name do %>--><div data-hook="admin_inside_taxonomy_form" class="field align-center" id="__pogen_737">
  <%= f.field_container :name do %>
    <%= f.label :name, Spree.t(:name) %> <span class="required">*</span><br />
    <%= error_message_on :taxonomy, :name, :class => 'fullwidth title' %>
    <%= text_field :taxonomy, :name %>
  <% end %>
</div>
