<%= render :partial => 'spree/admin/shared/configuration_menu' %>

<% content_for :page_title do %>
  <%= Spree.t(:new_taxonomy) %>
<% end %>

<% content_for :page_actions do %>
  <!--POGEN,__pogen_751,button_link_to_Spree_dot_t__back_to_taxonomies_list___spree_dot_admin_taxonomies_path___icon_____icon_minus_arrow_minus_left__,<%= button_link_to Spree.t(:back_to_taxonomies_list), spree.admin_taxonomies_path, :icon => 'icon-arrow-left' %>--><li id="__pogen_751">
    <%= button_link_to Spree.t(:back_to_taxonomies_list), spree.admin_taxonomies_path, :icon => 'icon-arrow-left' %>
  </li>
<% end %>

<%= form_for [:admin, @taxonomy] do |f| %>

  <%= render :partial => 'form', :locals => { :f => f } %>
  <fieldset class="no-border-top">
    <br>
    <!--POGEN,__pogen_752,button_Spree_dot_t__create____icon_minus_ok__,<%= button Spree.t(:create), 'icon-ok' %>--><div class="filter-actions actions" data-hook="buttons" id="__pogen_752">
      <%= button Spree.t(:create), 'icon-ok' %>
    </div>
  </fieldset>
<% end %>
