<fieldset class="no-border-bottom">
  <div class="field" data-hook="previous_cards">
    <% @previous_cards.each do |card| %>
      <!--POGEN,__pogen_292,radio_button_tag__card__card_dot_id__card_____previous_cards_dot_first_,<%= radio_button_tag :card, card.id, card == @previous_cards.first %>--><!--POGEN,__pogen_292,card_dot_display_number_,<%= card.display_number %>--><label id="__pogen_292"><%= radio_button_tag :card, card.id, card == @previous_cards.first %> <%= card.display_number %><br /></label>
    <% end %>
    <!--POGEN,__pogen_293,radio_button_tag__card___new____previous_cards_dot_none__,<%= radio_button_tag :card, 'new', @previous_cards.none? %>--><!--POGEN,__pogen_293,Spree_dot_t__use_new_cc__,<%= Spree.t(:use_new_cc) %>--><label id="__pogen_293"><%= radio_button_tag :card, 'new', @previous_cards.none? %> <%= Spree.t(:use_new_cc) %></label>
  </div>
  <div id="card_form" data-hook>
    <!--POGEN,__pogen_294,image_tag__credit_cards_divide_credit_card_dot_gif____id_____credit_minus_card_minus_image__,<%= image_tag 'credit_cards/credit_card.gif', :id => 'credit-card-image' %>--><div class="nine columns" id="__pogen_294">
      <%= image_tag 'credit_cards/credit_card.gif', :id => 'credit-card-image' %>
    </div>

    <% param_prefix = "payment_source[#{payment_method.id}]" %>

    <div class="clear"></div>

    <div class="alpha four columns">
      <div data-hook="card_number">
        <!--POGEN,__pogen_295,label_tag__card_number___raw_Spree_dot_t__card_number___plus__content_tag__span_____multiply_____class_____required____,<%= label_tag 'card_number', raw(Spree.t(:card_number) + content_tag(:span, ' *', :class => 'required')) %>--><!--POGEN,__pogen_295,hidden_field_tag____param_prefix__cc_type__________id_____cc_type___,<%= hidden_field_tag "#{param_prefix}[cc_type]", '', {:id => 'cc_type'} %>--><!--POGEN,__pogen_295,text_field_tag____param_prefix__number_________class_____required_fullwidth____id_____card_number____maxlength____19_,<%= text_field_tag "#{param_prefix}[number]", '', :class => 'required fullwidth', :id => 'card_number', :maxlength => 19 %>--><div class="field" id="__pogen_295">
          <%= hidden_field_tag "#{param_prefix}[cc_type]", '', {:id => 'cc_type'} %>
          <%= label_tag 'card_number', raw(Spree.t(:card_number) + content_tag(:span, ' *', :class => 'required')) %>
          <%= text_field_tag "#{param_prefix}[number]", '', :class => 'required fullwidth', :id => 'card_number', :maxlength => 19 %>
          <span id="card_type" style="display:none;">
            ( <!--POGEN,looks_like,Spree_dot_t__card_type_is__,<%= Spree.t(:card_type_is) %>--><span id="looks_like" ><%= Spree.t(:card_type_is) %> <span id="type"></span></span>
              <!--POGEN,unrecognized,Spree_dot_t__unrecognized_card_type__,<%= Spree.t(:unrecognized_card_type) %>--><span id="unrecognized"><%= Spree.t(:unrecognized_card_type) %></span>
            )
          </span>
        </div>
      </div>
    </div>
    <div class="alpha four columns">
      <div data-hook="card_name">
        <!--POGEN,__pogen_296,text_field_tag____param_prefix__name_________class_____required_fullwidth____id_____card_name____maxlength____19_,<%= text_field_tag "#{param_prefix}[name]", '', :class => 'required fullwidth', :id => 'card_name', :maxlength => 19 %>--><!--POGEN,__pogen_296,label_tag__card_name___raw_Spree_dot_t__name___plus__content_tag__span_____multiply_____class_____required____,<%= label_tag 'card_name', raw(Spree.t(:name) + content_tag(:span, ' *', :class => 'required')) %>--><div class="field" id="__pogen_296">
          <%= label_tag 'card_name', raw(Spree.t(:name) + content_tag(:span, ' *', :class => 'required')) %>
          <%= text_field_tag "#{param_prefix}[name]", '', :class => 'required fullwidth', :id => 'card_name', :maxlength => 19 %>
        </div>
      </div>
    </div>
    <div class="three columns">
      <!--POGEN,__pogen_297,label_tag__card_expiry___raw_Spree_dot_t__expiration___plus__content_tag__span_____multiply_____class_____required____,<%= label_tag 'card_expiry', raw(Spree.t(:expiration) + content_tag(:span, ' *', :class => 'required')) %>--><!--POGEN,__pogen_297,text_field_tag____param_prefix__expiry_________id_____card_expiry____class_____required____placeholder_____MM__divide__YY__,<%= text_field_tag "#{param_prefix}[expiry]", '', :id => 'card_expiry', :class => "required", :placeholder => "MM / YY" %>--><div data-hook="card_expiration" class="field" id="__pogen_297">
        <%= label_tag 'card_expiry', raw(Spree.t(:expiration) + content_tag(:span, ' *', :class => 'required')) %><br>
        <%= text_field_tag "#{param_prefix}[expiry]", '', :id => 'card_expiry', :class => "required", :placeholder => "MM / YY" %>
      </div>
    </div>
    <div class="omega two columns">
      <!--POGEN,__pogen_298,text_field_tag____param_prefix__verification_value_________class_____required_fullwidth____size____5___id_____card_code__,<%= text_field_tag "#{param_prefix}[verification_value]", '', :class => 'required fullwidth', :size => 5, :id => 'card_code' %>--><!--POGEN,__pogen_298,label_tag__card_code___raw_Spree_dot_t__card_code___plus__content_tag__span_____multiply_____class_____required____,<%= label_tag 'card_code', raw(Spree.t(:card_code) + content_tag(:span, ' *', :class => "required")) %>--><div data-hook="card_code" class="field" id="__pogen_298">
        <%= label_tag 'card_code', raw(Spree.t(:card_code) + content_tag(:span, ' *', :class => "required")) %>
        <%= text_field_tag "#{param_prefix}[verification_value]", '', :class => 'required fullwidth', :size => 5, :id => 'card_code' %>
        <!--POGEN,cvv_link,Spree_dot_t__what_is_this__,<%= Spree.t(:what_is_this) %>--><a href="/content/cvv" class="info" target="_blank" id="cvv_link">
          (<%= Spree.t(:what_is_this) %>)
        </a>
      </div>
    </div>

    <div class="clear"></div>
  </div>

</fieldset>
