<fieldset data-hook="credit_card">
  <!--POGEN,__pogen_299,Spree_dot_t__credit_card__,<%= Spree.t(:credit_card) %>--><legend align="center" id="__pogen_299"><%= Spree.t(:credit_card) %></legend>

  <div class="row">
    <div class="alpha six columns">
      <dl>
        <!--POGEN,__pogen_300,Spree_dot_t__name_on_card__,<%= Spree.t(:name_on_card) %>--><dt id="__pogen_300"><%= Spree.t(:name_on_card) %>:</dt>
        <!--POGEN,__pogen_301,payment_dot_source_dot_name_,<%= payment.source.name %>--><dd id="__pogen_301"><%= payment.source.name %></dd>

        <!--POGEN,__pogen_302,Spree_dot_t__card_type__,<%= Spree.t(:card_type) %>--><dt id="__pogen_302"><%= Spree.t(:card_type) %>:</dt>
        <!--POGEN,__pogen_303,payment_dot_source_dot_cc_type_,<%= payment.source.cc_type %>--><dd id="__pogen_303"><%= payment.source.cc_type %></dd>

        <!--POGEN,__pogen_304,Spree_dot_t__card_number__,<%= Spree.t(:card_number) %>--><dt id="__pogen_304"><%= Spree.t(:card_number) %>:</dt>
        <!--POGEN,__pogen_305,payment_dot_source_dot_display_number_,<%= payment.source.display_number %>--><dd id="__pogen_305"><%= payment.source.display_number %></dd>

        <!--POGEN,__pogen_306,Spree_dot_t__expiration__,<%= Spree.t(:expiration) %>--><dt id="__pogen_306"><%= Spree.t(:expiration) %>:</dt>
        <!--POGEN,__pogen_307,payment_dot_source_dot_year_,<%= payment.source.year %>--><!--POGEN,__pogen_307,payment_dot_source_dot_month_,<%= payment.source.month %>--><dd id="__pogen_307"><%= payment.source.month %>/<%= payment.source.year %></dd>
      </dl>
    </div>
  </div>
</fieldset>
