<div data-hook="admin_stock_movements_form_fields" class="row">
  <!--POGEN,__pogen_632,f_dot_text_field__stock_item_id____class_____fullwidth__,<%= f.text_field 'stock_item_id', :class => 'fullwidth' %>--><!--POGEN,__pogen_632,f_dot_label__quantity__Spree_dot_t__quantity__,<%= f.label :quantity, Spree.t(:quantity) %>--><!--POGEN,__pogen_632,f_dot_label__stock_item_id__Spree_dot_t__stock_item_id__,<%= f.label :stock_item_id, Spree.t(:stock_item_id) %>--><!--POGEN,__pogen_632,f_dot_field_container__quantity_do_,<%= f.field_container :quantity do %>--><!--POGEN,__pogen_632,f_dot_field_container__stock_item_id_do_,<%= f.field_container :stock_item_id do %>--><!--POGEN,__pogen_632,f_dot_text_field__quantity_,<%= f.text_field :quantity %>--><div class="alpha twelve columns" id="__pogen_632">
    <%= f.field_container :quantity do %>
      <%= f.label :quantity, Spree.t(:quantity) %>
      <%= f.text_field :quantity %>
    <% end %>
    <%= f.field_container :stock_item_id do %>
      <%= f.label :stock_item_id, Spree.t(:stock_item_id) %>
      <%= f.text_field 'stock_item_id', :class => 'fullwidth' %>
    <% end %>
  </div>
</div>

<%= render :partial => "spree/admin/variants/autocomplete", :formats => :js %>