<% content_for :page_title do %>
  <%= Spree.t(:editing_stock_movement) %>
<% end %>

<% content_for :page_actions do %>
  <!--POGEN,__pogen_633,link_to_with_icon__icon_minus_arrow_minus_left___Spree_dot_t__back_to_stock_movements_list___admin_stock_location_stock_movements_path_stock_location____class_____button__,<%= link_to_with_icon 'icon-arrow-left', Spree.t(:back_to_stock_movements_list), admin_stock_location_stock_movements_path(stock_location), :class => 'button' %>--><li id="__pogen_633"><%= link_to_with_icon 'icon-arrow-left', Spree.t(:back_to_stock_movements_list), admin_stock_location_stock_movements_path(stock_location), :class => 'button' %></li>
<% end %>

<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @stock_movement } %>

<%= form_for [:admin, stock_location, @stock_movement] do |f| %>
  <!--POGEN,__pogen_634,render__partial_____spree_divide_admin_divide_shared_divide_new_resource_links___locals____collection_url__admin_stock_location_stock_movements_path_stock_location____,<%= render :partial => 'spree/admin/shared/new_resource_links', locals: { collection_url: admin_stock_location_stock_movements_path(stock_location) } %>--><!--POGEN,__pogen_634,render__partial_____form____locals_______f____f___,<%= render :partial => 'form', :locals => { :f => f } %>--><fieldset class="no-border-top" id="__pogen_634">
    <%= render :partial => 'form', :locals => { :f => f } %>
    <%= render :partial => 'spree/admin/shared/new_resource_links', locals: { collection_url: admin_stock_location_stock_movements_path(stock_location) } %>
  </fieldset>
<% end %>
