<div data-hook="admin_state_form_fields" class="row">
  <!--POGEN,__pogen_589,f_dot_text_field__name___class_____fullwidth__,<%= f.text_field :name, :class => 'fullwidth' %>--><!--POGEN,__pogen_589,f_dot_label__name__Spree_dot_t__name__,<%= f.label :name, Spree.t(:name) %>--><!--POGEN,__pogen_589,f_dot_field_container__name_do_,<%= f.field_container :name do %>--><div class="alpha six columns" id="__pogen_589">
    <%= f.field_container :name do %>
      <%= f.label :name, Spree.t(:name) %>
      <%= f.text_field :name, :class => 'fullwidth' %>
    <% end %>
  </div>
  <!--POGEN,__pogen_590,f_dot_label__abbr__Spree_dot_t__abbreviation__,<%= f.label :abbr, Spree.t(:abbreviation) %>--><!--POGEN,__pogen_590,f_dot_field_container__abbr_do_,<%= f.field_container :abbr do %>--><!--POGEN,__pogen_590,f_dot_text_field__abbr___class_____fullwidth__,<%= f.text_field :abbr, :class => 'fullwidth' %>--><div class="omega six columns" id="__pogen_590">
    <%= f.field_container :abbr do %>
      <%= f.label :abbr, Spree.t(:abbreviation) %>
      <%= f.text_field :abbr, :class => 'fullwidth' %>
    <% end %>
  </div>
</div>
