<%= render :partial => "spree/admin/variants/autocomplete", :formats => :js %>
<%= render :partial => "spree/admin/variants/autocomplete_stock", :formats => :js %>

<div id="add-line-item" data-hook>
  <fieldset class="no-border-bottom">
    <!--POGEN,__pogen_127,Spree_dot_t__add_product__,<%= Spree.t(:add_product) %>--><legend align="center" id="__pogen_127"><%= Spree.t(:add_product) %></legend>

    <!--POGEN,__pogen_128,label_tag__add_variant_id__Spree_dot_t__name_or_sku__,<%= label_tag :add_variant_id, Spree.t(:name_or_sku) %>--><!--POGEN,__pogen_128,hidden_field_tag__add_variant_id_______class_____variant_autocomplete_fullwidth__,<%= hidden_field_tag :add_variant_id, "", :class => "variant_autocomplete fullwidth" %>--><div data-hook="add_product_name" class="field twelve columns alpha" id="__pogen_128">
      <%= label_tag :add_variant_id, Spree.t(:name_or_sku) %>
      <%= hidden_field_tag :add_variant_id, "", :class => "variant_autocomplete fullwidth" %>
    </div>

  </fieldset>

  <div id="stock_details"></div>
</div>
