<!--POGEN,__pogen_507,button_link_to_Spree_dot_t__actions_dot_cancel____collection_url___icon_____icon_minus_remove__,<%= button_link_to Spree.t('actions.cancel'), collection_url, :icon => 'icon-remove' %>--><!--POGEN,__pogen_507,button_Spree_dot_t__actions_dot_update_____icon_minus_refresh__,<%= button Spree.t('actions.update'), 'icon-refresh' %>--><div class="form-buttons filter-actions actions" data-hook="buttons" id="__pogen_507">
  <%= button Spree.t('actions.update'), 'icon-refresh' %>
  <!--POGEN,__pogen_508,Spree_dot_t__or__,<%= Spree.t(:or) %>--><span class="or" id="__pogen_508"><%= Spree.t(:or) %></span>
  <%= button_link_to Spree.t('actions.cancel'), collection_url, :icon => 'icon-remove' %>
</div>
