<!--POGEN,__pogen_513,link_to_with_icon__icon_minus_remove___Spree_dot_t__actions_dot_cancel____collection_url___class_____button__,<%= link_to_with_icon 'icon-remove', Spree.t('actions.cancel'), collection_url, :class => 'button' %>--><!--POGEN,__pogen_513,button_Spree_dot_t__actions_dot_create_____icon_minus_ok__,<%= button Spree.t('actions.create'), 'icon-ok' %>--><div class="form-buttons filter-actions actions" data-hook="buttons" id="__pogen_513">
  <%= button Spree.t('actions.create'), 'icon-ok' %>
  <!--POGEN,__pogen_514,Spree_dot_t__or__,<%= Spree.t(:or) %>--><span class="or" id="__pogen_514"><%= Spree.t(:or) %></span>
  <%= link_to_with_icon 'icon-remove', Spree.t('actions.cancel'), collection_url, :class => 'button' %>
</div>
