<%= search_form_for @search, :url => spree.sales_total_admin_reports_path  do |s| %>
    <!--POGEN,__pogen_537,s_dot_text_field__created_at_lt___class_____datepicker_datepicker_minus_to____value____datepicker_field_value_params__q___created_at_lt___,<%= s.text_field :created_at_lt, :class => 'datepicker datepicker-to', :value => datepicker_field_value(params[:q][:created_at_lt]) %>--><!--POGEN,__pogen_537,label_tag_nil__Spree_dot_t__start____class_____inline__,<%= label_tag nil, Spree.t(:start), :class => 'inline' %>--><!--POGEN,__pogen_537,s_dot_text_field__created_at_gt___class_____datepicker_datepicker_minus_from____value____datepicker_field_value_params__q___created_at_gt___,<%= s.text_field :created_at_gt, :class => 'datepicker datepicker-from', :value => datepicker_field_value(params[:q][:created_at_gt]) %>--><!--POGEN,__pogen_537,label_tag_nil__Spree_dot_t__end____class_____inline__,<%= label_tag nil, Spree.t(:end), :class => 'inline' %>--><div class="date-range-filter field align-center" id="__pogen_537">
        <%= label_tag nil, Spree.t(:start), :class => 'inline' %>
        <%= s.text_field :created_at_gt, :class => 'datepicker datepicker-from', :value => datepicker_field_value(params[:q][:created_at_gt]) %>
        
        <span class="range-divider">
          <i class="icon-arrow-right"></i>
        </span>

        <%= s.text_field :created_at_lt, :class => 'datepicker datepicker-to', :value => datepicker_field_value(params[:q][:created_at_lt]) %>
        <%= label_tag nil, Spree.t(:end), :class => 'inline' %>
    </div>

    <!--POGEN,__pogen_538,button_Spree_dot_t__search____icon_minus_search___,<%= button Spree.t(:search), 'icon-search'  %>--><div class="actions filter-actions" id="__pogen_538">
      <%= button Spree.t(:search), 'icon-search'  %>
    </div>
<% end %>
