<!--POGEN,__pogen_542,link_to_Spree_dot_t__delete___object_url___method_____delete___data_______confirm____Spree_dot_t__are_you_sure_you_want_to_delete_this_record____,<%= link_to Spree.t(:delete), object_url, :method => :delete, :data => { :confirm => Spree.t(:are_you_sure_you_want_to_delete_this_record) } %>--><!--POGEN,__pogen_542,link_to_Spree_dot_t__back___collection_url_,<%= link_to Spree.t(:back), collection_url %>--><!--POGEN,__pogen_542,link_to_Spree_dot_t__edit___edit_object_url_,<%= link_to Spree.t(:edit), edit_object_url %>--><p class="actions" data-hook="actions" id="__pogen_542">
  <%= link_to Spree.t(:edit), edit_object_url %> |
  <%= link_to Spree.t(:back), collection_url %> |
  <%= link_to Spree.t(:delete), object_url, :method => :delete, :data => { :confirm => Spree.t(:are_you_sure_you_want_to_delete_this_record) } %>
</p>
