<div data-hook="admin_tax_category_form_fields" class="row">
  <!--POGEN,__pogen_688,f_dot_text_field__name___class_____fullwidth__,<%= f.text_field :name, :class => 'fullwidth' %>--><!--POGEN,__pogen_688,f_dot_label__name__Spree_dot_t__name__,<%= f.label :name, Spree.t(:name) %>--><!--POGEN,__pogen_688,f_dot_field_container__name_do_,<%= f.field_container :name do %>--><div class="alpha four columns" id="__pogen_688">
    <%= f.field_container :name do %>
      <%= f.label :name, Spree.t(:name) %>
      <%= f.text_field :name, :class => 'fullwidth' %>
    <% end %>  
  </div>
  
  <!--POGEN,__pogen_689,f_dot_label__description__Spree_dot_t__description__,<%= f.label :description, Spree.t(:description) %>--><!--POGEN,__pogen_689,f_dot_text_field__description___class_____fullwidth__,<%= f.text_field :description, :class => 'fullwidth' %>--><!--POGEN,__pogen_689,f_dot_field_container__description_do_,<%= f.field_container :description do %>--><div class="five columns" id="__pogen_689">
    <%= f.field_container :description do %>
      <%= f.label :description, Spree.t(:description) %><br>
      <%= f.text_field :description, :class => 'fullwidth' %>
    <% end %>
  </div>

  <!--POGEN,__pogen_690,f_dot_field_container__is_default___class______checkbox___do_,<%= f.field_container :is_default, :class => ['checkbox'] do %>--><div class="three columns omega" id="__pogen_690">
    <%= f.field_container :is_default, :class => ['checkbox'] do %>
      <!--POGEN,__pogen_691,f_dot_check_box__is_default_,<%= f.check_box :is_default %>--><!--POGEN,__pogen_691,Spree_dot_t__default__,<%= Spree.t(:default) %>--><label id="__pogen_691">
        <%= f.check_box :is_default %>
        <%= Spree.t(:default) %>
      </label>
    <% end %>
  </div>
</div>