<%= render :partial => 'spree/admin/shared/configuration_menu' %>

<% content_for :page_title do %>
  <%= Spree.t(:editing_tax_category) %>
<% end %>

<% content_for :page_actions do %>
  <!--POGEN,__pogen_692,link_to_with_icon__icon_minus_arrow_minus_left___Spree_dot_t__back_to_tax_categories_list___admin_tax_categories_path___class_____button__,<%= link_to_with_icon 'icon-arrow-left', Spree.t(:back_to_tax_categories_list), admin_tax_categories_path, :class => 'button' %>--><li id="__pogen_692"><%= link_to_with_icon 'icon-arrow-left', Spree.t(:back_to_tax_categories_list), admin_tax_categories_path, :class => 'button' %></li>
<% end %>

<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @tax_category } %>

<%= form_for [:admin, @tax_category] do |f| %>
  <!--POGEN,__pogen_693,render__partial_____form____locals_______f____f___,<%= render :partial => 'form', :locals => { :f => f } %>--><!--POGEN,__pogen_693,render__partial_____spree_divide_admin_divide_shared_divide_edit_resource_links__,<%= render :partial => 'spree/admin/shared/edit_resource_links' %>--><fieldset class="no-border-top" id="__pogen_693">
    <%= render :partial => 'form', :locals => { :f => f } %>
    <%= render :partial => 'spree/admin/shared/edit_resource_links' %>
  </fieldset>
<% end %>
