<div data-hook="admin_adjustment_form_fields" class="row">
  <!--POGEN,__pogen_13,f_dot_label__amount__raw_Spree_dot_t__amount___plus__content_tag__span_____multiply_____class_____required____,<%= f.label :amount, raw(Spree.t(:amount) + content_tag(:span, " *", :class => "required")) %>--><!--POGEN,__pogen_13,f_dot_error_message_on__amount_,<%= f.error_message_on :amount %>--><!--POGEN,__pogen_13,f_dot_field_container__amount_do_,<%= f.field_container :amount do %>--><!--POGEN,__pogen_13,text_field__adjustment___amount___class_____fullwidth__,<%= text_field :adjustment, :amount, :class => 'fullwidth' %>--><div class="alpha three columns" id="__pogen_13">
    <%= f.field_container :amount do %>
      <%= f.label :amount, raw(Spree.t(:amount) + content_tag(:span, " *", :class => "required")) %>
      <%= text_field :adjustment, :amount, :class => 'fullwidth' %>
      <%= f.error_message_on :amount %>
    <% end %>
  </div>
  <!--POGEN,__pogen_14,f_dot_label__label__raw_Spree_dot_t__description___plus__content_tag__span_____multiply_____class_____required____,<%= f.label :label, raw(Spree.t(:description) + content_tag(:span, " *", :class => "required")) %>--><!--POGEN,__pogen_14,f_dot_error_message_on__label_,<%= f.error_message_on :label %>--><!--POGEN,__pogen_14,f_dot_field_container__label_do_,<%= f.field_container :label do %>--><!--POGEN,__pogen_14,text_field__adjustment___label___class_____fullwidth__,<%= text_field :adjustment, :label, :class => 'fullwidth' %>--><div class="omega nine columns" id="__pogen_14">
    <%= f.field_container :label do %>
      <%= f.label :label, raw(Spree.t(:description) + content_tag(:span, " *", :class => "required")) %>
      <%= text_field :adjustment, :label, :class => 'fullwidth' %>
      <%= f.error_message_on :label %>
    <% end %>
  </div>
</div>
